<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bootstrap Admin Dashboard Mockup</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Admin Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Support</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Find Something Useful">
          </form>
        </div>
      </div>
    </nav>

    <br><br><br>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 bg-info" style="position: fixed;">
          <h2>Full Name</h2>
          <h3>@username</h3>
          <p>Message 12</p>
        </div>
        <br></br>
        <br></br>
        <br></br>
        <br></br>

        <div class="col-md-4 bg-info" style="position: fixed;">
          <h2>Trending AweTweets</h2>
          <h3>@username</h3>
          <p>#Thiings</p>
        </div>
      </div>

        <div class="col-md-offset-4 col-md-8">
          <div class="row">
            <div class="col-md-8 text-center">
              <img src="http://fillmurray.com/200/200" class="img-circle img-responsive center-block">
              <h4>Bill</h4>
              <span>Murray</span>
            </div>
            <!-- <div class="col-md-3 text-center">
              <img src="http://fillmurray.com/200/200" class="img-circle img-responsive center-block">
              <h4>Bill</h4>
              <span>Murray</span>
            </div>
            <div class="col-md-3 text-center">
              <img src="http://fillmurray.com/200/200" class="img-circle img-responsive center-block">
              <h4>Bill</h4>
              <span>Murray</span>
            </div>
            <div class="col-md-3 text-center">
              <img src="http://fillmurray.com/200/200" class="img-circle img-responsive center-block">
              <h4>Bill</h4>
              <span>Murray</span>
            </div> -->
          </div>

        </div>

    </div>
  </body>
</html>
