<%- include('../partials/header') %>

<h1>Create a New TODO List</h1>

<form action="/posts" method="post">
  <div>
    <label>Title</label>
    <input type="text" name="title">
  </div>
  <div>
    <input type="submit">
  </div>
</form>

<%- include('../partials/footer') %>
