<%- include('./partials/header') %>

    <h1>Welcome to the Awesome Tweets!</h1>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="https://www.w3schools.com/w3images/lights.jpg" name="Awesome Tweets" alt="Jane Doe" style="width:100%" class="w3-hover-opacity">
      <%# <img class="cover-image" src='/public/images/ocean.jpg' />%>

      <div class="w3-container w3-white">
        <%# <p>Awesome Tweets</p>%>
      </div>
    </div>

<%- include('./partials/footer') %>
